/* .container-fluid {
  background-image: url('./netflixback.jpg');
  height: 100vmax;
  background-size: cover;
  width: 100vmax;
}
.box {
  height: 100vmax;
  background-color: rgb(0, 0, 0, 0.6);
  width: 100vmax;
  margin: -20px;
} */
